
{$enable-gradients: true;
}

.x-line {
  outline: 1px solid black;
}

.big-img{
  background-image: url("//placehold.it/600x400");
  }

.jd-img{
  background-image: url("//www.deere.com/assets/images/common/home-page/March-2020-Hero-1366x347.jpg");
}

  .ball{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    background-color: white;
  }

  .x-down{
    margin-bottom: 10vh;
  }